In [4]:
import pandas as pd
import datetime as d
import numpy as np

In [5]:
def path(month, day):
    file_dir = "C:\\Users\\User\Documents\Datasets\covid_data\covid_raw_data\covid_"
    ext = ".csv"
    file_path = file_dir+month+str(day)+ext
    return file_path

In [6]:
from urllib.request import urlretrieve
link = "https://covid19.who.int/WHO-COVID-19-global-data.csv"
url = link

# -----------------------------------------------------

In [7]:
#define file date
def month_day():
    date = d.date.today()
    month=date.strftime("%B")
    day=date.day
    return month,day

In [8]:
#retrieve and save file in specified folder
month, day = month_day()
file_path = path(month,day)

urlretrieve(url,file_path)
print("File is located here: \n", file_path)

File is located here:
 C:\Users\User\Documents\Datasets\covid_data\covid_raw_data\covid_July23.csv

# -----------------------------------------------------

In [54]:
#define file name and where to save cleaned set
def cleaned_path(mon, day):
    file_dir = "C:\\Users\\User\Documents\Datasets\covid_data\cleaned_data\covid_"
    clean_path = file_dir + str(mon) + str(day)
    return clean_path

In [55]:
month, day = month_day()
clean_path = cleaned_path(month, day)
print('Cleaned file is located here: \n', clean_path)

Cleaned file is located here:
 C:\Users\User\Documents\Datasets\covid_data\cleaned_data\covid_July23

In [56]:
clean_path+".csv"

'C:\\Users\\User\\Documents\\Datasets\\covid_data\\cleaned_data\\covid_July23.csv'

In [57]:
#save 
df.to_csv(clean_path+".csv", index=False)

In [58]:
clean_path

'C:\\Users\\User\\Documents\\Datasets\\covid_data\\cleaned_data\\covid_July23'

# -----------------------------------------------------

In [60]:
df.to_excel(clean_path+".xlsx", sheet_name='Sheet1', index=False)

In [51]:
#df.to_sql(clean_path, index=False)

# -----------------------------------------------

In [276]:
#daily
month = "July"
day = str(23)

#choose from either cleaned_data folder or raw_data folder
#folder = "cleaned_data"

current_path = path(month,day)
print("File is located here: \n", file_path)

File is located here:
 C:\Users\User\Documents\Datasets\covid_data\covid_raw_data\covid_July23.csv

# -----------------------------------------------

In [14]:
df = pd.read_csv(file_path)
df2 = df.copy()
print(file_path)

C:\Users\User\Documents\Datasets\covid_data\covid_raw_data\covid_July23.csv

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30148 entries, 0 to 30147
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_reported      30148 non-null  object
 1   country_code       30016 non-null  object
 2   country            30148 non-null  object
 3   who_region         30148 non-null  object
 4   new_cases          30148 non-null  int64
 5   cumulative_cases   30148 non-null  int64
 6   new_deaths         30148 non-null  int64
 7   cumulative_deaths  30148 non-null  int64
dtypes: int64(4), object(4)
memory usage: 1.8+ MB

In [24]:
df.head()

,date_reported,country_code,country,who_region,new_cases,cumulative_cases,new_deaths,cumulative_deaths
0,2020-02-24,AF,Afghanistan,EMRO,1,1,0,0
1,2020-02-25,AF,Afghanistan,EMRO,0,1,0,0
2,2020-02-26,AF,Afghanistan,EMRO,0,1,0,0
3,2020-02-27,AF,Afghanistan,EMRO,0,1,0,0
4,2020-02-28,AF,Afghanistan,EMRO,0,1,0,0

In [25]:
df.columns

Index(['date_reported', 'country_code', 'country', 'who_region', 'new_cases',
       'cumulative_cases', 'new_deaths', 'cumulative_deaths'],
      dtype='object')

In [26]:
#clean column names
df.columns
columns = df.columns.to_list()
cols = []

for x in columns:
    cols.append(x.lower().strip())

df.columns = cols
df.head(0)

Empty DataFrame
Columns: [date_reported, country_code, country, who_region, new_cases, cumulative_cases, new_deaths, cumulative_deaths]
Index: []

In [19]:
df.columns

Index(['date_reported', 'country_code', 'country', 'who_region', 'new_cases',
       'cumulative_cases', 'new_deaths', 'cumulative_deaths'],
      dtype='object')

In [223]:
import re

In [27]:
df.isnull().sum()

date_reported          0
country_code         132
country                0
who_region             0
new_cases              0
cumulative_cases       0
new_deaths             0
cumulative_deaths      0
dtype: int64

In [28]:
#df[df['who_region'] == 'undefined']

In [29]:
dfSort = df.loc[:, ['country_code','country']].sort_values(by=['country_code'])

In [30]:
df.replace(np.nan, 'NA', inplace=True)

In [31]:
df[df.country_code == 'NA']

,date_reported,country_code,country,who_region,new_cases,cumulative_cases,new_deaths,cumulative_deaths
18969,2020-03-14,NA,Namibia,AFRO,2,2,0,0
18970,2020-03-15,NA,Namibia,AFRO,0,2,0,0
18971,2020-03-16,NA,Namibia,AFRO,0,2,0,0
18972,2020-03-17,NA,Namibia,AFRO,0,2,0,0
18973,2020-03-18,NA,Namibia,AFRO,0,2,0,0
...,...,...,...,...,...,...,...,...
19096,2020-07-19,NA,Namibia,AFRO,125,1203,0,2
19097,2020-07-20,NA,Namibia,AFRO,44,1247,1,3
19098,2020-07-21,NA,Namibia,AFRO,97,1344,1,4
19099,2020-07-22,NA,Namibia,AFRO,22,1366,3,7
19100,2020-07-23,NA,Namibia,AFRO,36,1402,0,7

In [32]:
df[df['country_code'] == ' ']
df['country_code'].replace(' ', 'Other', inplace = True)

In [33]:
df.isnull().sum()

date_reported        0
country_code         0
country              0
who_region           0
new_cases            0
cumulative_cases     0
new_deaths           0
cumulative_deaths    0
dtype: int64

In [34]:
df.columns

Index(['date_reported', 'country_code', 'country', 'who_region', 'new_cases',
       'cumulative_cases', 'new_deaths', 'cumulative_deaths'],
      dtype='object')

In [35]:
df['date_reported'] = pd.to_datetime(df['date_reported'])

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30148 entries, 0 to 30147
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_reported      30148 non-null  datetime64[ns]
 1   country_code       30148 non-null  object
 2   country            30148 non-null  object
 3   who_region         30148 non-null  object
 4   new_cases          30148 non-null  int64
 5   cumulative_cases   30148 non-null  int64
 6   new_deaths         30148 non-null  int64
 7   cumulative_deaths  30148 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 1.8+ MB

In [37]:
df['split'] =  df['date_reported'].astype(str).str.split('-')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30148 entries, 0 to 30147
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_reported      30148 non-null  datetime64[ns]
 1   country_code       30148 non-null  object
 2   country            30148 non-null  object
 3   who_region         30148 non-null  object
 4   new_cases          30148 non-null  int64
 5   cumulative_cases   30148 non-null  int64
 6   new_deaths         30148 non-null  int64
 7   cumulative_deaths  30148 non-null  int64
 8   split              30148 non-null  object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 2.1+ MB

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30148 entries, 0 to 30147
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_reported      30148 non-null  datetime64[ns]
 1   country_code       30148 non-null  object
 2   country            30148 non-null  object
 3   who_region         30148 non-null  object
 4   new_cases          30148 non-null  int64
 5   cumulative_cases   30148 non-null  int64
 6   new_deaths         30148 non-null  int64
 7   cumulative_deaths  30148 non-null  int64
 8   split              30148 non-null  object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 2.1+ MB

In [146]:
plus_five = lambda x: x+5
plus_five(10)

15

In [44]:
df['month'] = [x[1] for x in df['split']]
df['day'] =[ x[2] for x in df['split']]
df['year'] = [x[0] for x in df['split']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30148 entries, 0 to 30147
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_reported      30148 non-null  datetime64[ns]
 1   country_code       30148 non-null  object
 2   country            30148 non-null  object
 3   who_region         30148 non-null  object
 4   new_cases          30148 non-null  int64
 5   cumulative_cases   30148 non-null  int64
 6   new_deaths         30148 non-null  int64
 7   cumulative_deaths  30148 non-null  int64
 8   split              30148 non-null  object
 9   month              30148 non-null  object
 10  day                30148 non-null  object
 11  year               30148 non-null  object
dtypes: datetime64[ns](1), int64(4), object(7)
memory usage: 2.8+ MB

In [45]:
df.head()

,date_reported,country_code,country,who_region,new_cases,cumulative_cases,new_deaths,cumulative_deaths,split,month,day,year
0,2020-02-24,AF,Afghanistan,EMRO,1,1,0,0,"[2020, 02, 24]",02,24,2020
1,2020-02-25,AF,Afghanistan,EMRO,0,1,0,0,"[2020, 02, 25]",02,25,2020
2,2020-02-26,AF,Afghanistan,EMRO,0,1,0,0,"[2020, 02, 26]",02,26,2020
3,2020-02-27,AF,Afghanistan,EMRO,0,1,0,0,"[2020, 02, 27]",02,27,2020
4,2020-02-28,AF,Afghanistan,EMRO,0,1,0,0,"[2020, 02, 28]",02,28,2020

In [46]:
df.drop('split', axis=1, inplace=True)

In [47]:
df.head()

,date_reported,country_code,country,who_region,new_cases,cumulative_cases,new_deaths,cumulative_deaths,month,day,year
0,2020-02-24,AF,Afghanistan,EMRO,1,1,0,0,02,24,2020
1,2020-02-25,AF,Afghanistan,EMRO,0,1,0,0,02,25,2020
2,2020-02-26,AF,Afghanistan,EMRO,0,1,0,0,02,26,2020
3,2020-02-27,AF,Afghanistan,EMRO,0,1,0,0,02,27,2020
4,2020-02-28,AF,Afghanistan,EMRO,0,1,0,0,02,28,2020

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30148 entries, 0 to 30147
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_reported      30148 non-null  datetime64[ns]
 1   country_code       30148 non-null  object
 2   country            30148 non-null  object
 3   who_region         30148 non-null  object
 4   new_cases          30148 non-null  int64
 5   cumulative_cases   30148 non-null  int64
 6   new_deaths         30148 non-null  int64
 7   cumulative_deaths  30148 non-null  int64
 8   month              30148 non-null  object
 9   day                30148 non-null  object
 10  year               30148 non-null  object
dtypes: datetime64[ns](1), int64(4), object(6)
memory usage: 2.5+ MB